.title#complaint
  = "Complaint!"
.description
= @complaint.description
- unless @urls.empty? do
  .urls
    = "fontes:"
    .fieldset
      - @urls.each do |url_attachment|
        = url_attachment.url
