.infowindow
  .infowindow-header
    %h4=attachment.complaint.title
  .infowindow-body
    =attachment.complaint.description
  .infowindow-footer
    =link_to "Ir para denúncia", complaint_path(attachment.complaint)

