.menu
  - if user_signed_in?
    = link_to t('buttons.new_complaint')
    = link_to t('buttons.my_complaints')
  - else
    = link_to 'Login with facebook', user_omniauth_authorize_path(:omniauth_facebook), :id => 'facebook_login'
.span9
  = gmaps(:map_options => { :center_latitude => -13, :center_longitude => -48, :zoom => 4 },
             :markers  => { :data => @json })
