#complaints {
  margin: 30px auto;

  .left {
    float: left;
    width: 600px;

    .title {
      font-size: 18pt;
      color: #404040;
    }
  }

  .right {
    float: right;
    width: 280px;

    .map_container {
      display: inline-block;
      background: transparent;
      border: none;
      width: 310px;

      #map {
        margin: 0;
        width: 310px;
        height: 280px;
      }
    }
  }
}