body {
  .login_infos {
    float: right;
    margin-top: 20px;

    p {
      margin: 0;
      text-align: right;
    }

    a {
      width: 80%;
      text-align: right;
      font-size: 12pt;
    }
  }
}