body {
  margin: 0;
  padding: 0;
  font-family: 'Monospace';
  background: #ececec;
  color: #404040;

  .content {
    display: inline-block;
    width: 100%;
  }
}

.clear {
  clear: both;
}

#flashes {
  margin-top: 10px;  
}

a.brand {
  background: image-url('logo.png');
  height: 103px;
  width: 260px;
  text-indent: -999999px;
  display: block;
  float: left;
}

#main_body {
  width: 960px;
  margin: 0 auto;
  min-height: 500px;
}

#facebook_login {
  background: url('facebook_login.png') no-repeat;
  width: 260px;
  display: block;
  height: 40px;
  text-indent: -9999999px;
  margin: 30px auto;
}

.title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
